<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- stylesheet -->
		<link rel="stylesheet" href="/css/main.css" />

		<!-- fontawesome script -->
		<script
			src="https://kit.fontawesome.com/8464da9b67.js"
			crossorigin="anonymous"></script>

		<!-- site title -->
		<title>{{ title }}</title>
	</head>
	<body>
		{% include "header.njk" %}
		{{ content | safe }}
		{% include "footer.njk" %}

		<div class="contact-popup-modl">
			<div class="modal-container">
				<div class="content"></div>
			</div>
		</div>

		<script src="/js/app.js"></script>
	</body>
</html>
