<header class="header">
	<div class="header-container">
		<div class="brand-wrap">
			<a href="/">
				<img class="brand-img" src="/assets/Logo.png" alt="" />
			</a>
		</div>

		<nav class="navbar">
			<ul class="nav-links">
				<li class="link">Home</li>
				<li class="link">About</li>
				<li class="link">Donate</li>
				<li class="link">Contact</li>
			</ul>
		</nav>

		<div class="hamburger-menu">
			<i class="fa-solid fa-bars"></i>
		</div>

		<div class="hamburger-close">
			<i class="fa-solid fa-xmark"></i>
		</div>
	</div>
</header>
