@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  height: 15vh;
}
.header .header-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
}
.header .header-container .brand-wrap {
  display: inline-block;
}
.header .header-container .brand-wrap .brand-img {
  width: 80px;
}
.header .header-container .navbar {
  position: fixed;
  background: #004517;
  width: 90%;
  height: 400px;
  top: 15vh;
  left: 10%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.header .header-container .navbar .nav-links {
  height: fit-content;
  display: grid;
  gap: 4.5em;
  text-align: center;
}
.header .header-container .navbar .nav-links .link a {
  color: #fff;
}
.header .header-container .hamburger-menu {
  cursor: pointer;
}
.header .header-container .hamburger-menu i {
  font-size: 1.5rem;
}
.header .header-container .hamburger-close {
  display: none;
  cursor: pointer;
}
.header .header-container .hamburger-close i {
  font-size: 1.5rem;
}
@media screen and (min-width: 43em) {
  .header .header-container .navbar {
    width: 50%;
    left: 40%;
    border-radius: 20px;
  }
}
@media screen and (min-width: 62em) {
  .header .header-container .navbar {
    all: unset;
    width: 300px;
  }
  .header .header-container .navbar .nav-links {
    all: unset;
    display: flex;
    justify-content: space-between;
  }
  .header .header-container .navbar .nav-links .link a {
    color: #4f4f4f;
    font-weight: 600;
  }
  .header .header-container .hamburger-menu {
    display: none;
  }
  .header .header-container .hamburger-close {
    display: none;
  }
}

.hidden {
  display: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.main {
  padding-top: 5em;
  position: relative;
  margin-bottom: 4em;
}
.main .container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 4em;
}
.main .container .masthead-wrap .pre-text {
  color: #f7b401;
  font-weight: 500;
  margin-bottom: 0.5em;
}
.main .container .masthead-wrap .masthead {
  color: #004517;
  margin-bottom: 1em;
}
.main .container .masthead-wrap .button {
  font-size: 1rem;
  background: #f7b401;
  padding: 1em 3em;
  display: inline-block;
  border-radius: 15px;
  font-weight: 500;
  color: #fff;
}
.main .container .image-wrap {
  padding-bottom: 3em;
}
.main .container .image-wrap img {
  width: 100%;
}
.main .gradient-wrap {
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(0, 69, 23, 0.77) 85.65%);
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}
@media screen and (min-width: 43em) {
  .main .container {
    width: 60%;
  }
}
@media screen and (min-width: 62em) {
  .main {
    height: 90vh;
  }
  .main .container {
    width: 80%;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  .main .container .masthead-wrap {
    max-width: 550px;
  }
  .main .container .masthead-wrap .pre-text {
    font-size: 1.4rem;
  }
  .main .container .masthead-wrap .masthead {
    font-size: 45px;
  }
  .main .container .image-wrap {
    position: absolute;
    right: 0;
    top: 10%;
  }
  .main .container .image-wrap img {
    width: 500px;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.welcome-address-section {
  margin-bottom: 6em;
}
.welcome-address-section .container {
  width: 90%;
  margin: 0 auto;
}
.welcome-address-section .container .text-wrap .heading {
  font-size: 1.7rem;
  color: #004517;
  margin-bottom: 1.3em;
}
.welcome-address-section .container .text-wrap .text {
  color: #a6a6a6;
  font-size: 0.9rem;
  line-height: 1.9;
  position: relative;
}
.welcome-address-section .container .text-wrap .text .caps {
  color: rgba(0, 0, 0, 0.7);
  float: left;
  font-size: 7em;
  line-height: 60px;
  padding-right: 12px;
  position: relative;
  top: 8px;
  width: 40%;
  margin: 0 0.1em 0.1em 0;
}
.welcome-address-section .container .text-wrap .text .caps img {
  width: 100%;
  border-radius: 15px;
}
.welcome-address-section .container .text-wrap .text .about-link {
  display: inline-block;
  margin-top: 1em;
  position: absolute;
  top: 100%;
  left: 23%;
  color: #f7b401;
}
.welcome-address-section .container .image-wrap {
  display: none;
}
.welcome-address-section .container .image-wrap img {
  width: 100%;
}
@media screen and (min-width: 43em) {
  .welcome-address-section .container {
    width: 65%;
  }
  .welcome-address-section .container .text-wrap .heading {
    text-align: center;
  }
}
@media screen and (min-width: 62em) {
  .welcome-address-section .container {
    width: 65%;
  }
  .welcome-address-section .container .text-wrap .heading {
    text-align: center;
  }
  .welcome-address-section .container .text-wrap .text {
    display: flex;
    align-items: flex-start;
  }
  .welcome-address-section .container .text-wrap .text .caps {
    width: 100%;
  }
}
@media screen and (min-width: 62em) {
  .welcome-address-section {
    height: 100vh;
    margin-bottom: unset;
    padding-top: 2em;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.about-snippet {
  margin-bottom: 5em;
}
.about-snippet .container {
  width: 90%;
  background: #f7b401;
  margin-left: 1em;
  position: relative;
  min-height: 250px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3em;
}
.about-snippet .container .snippet-heading {
  position: absolute;
  font-size: 1.7rem;
  color: #004517;
  top: -20px;
  left: 30px;
}
.about-snippet .container .snippet-text {
  line-height: 1.6;
  color: #fff;
  max-width: 500px;
}
.about-snippet .container .button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: #4f4f4f;
}
@media screen and (min-width: 43em) {
  .about-snippet .container {
    width: 70%;
    margin-left: 3em;
    padding: unset;
  }
}
@media screen and (min-width: 43em) {
  .about-snippet .container {
    width: 60%;
    margin-left: 5em;
    padding: unset;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.etho-section {
  margin-bottom: 6em;
}
.etho-section .container {
  width: 90%;
  margin: 0 auto;
}
.etho-section .container .heading {
  font-size: 1.7rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 2em;
  color: #004517;
  position: relative;
}
.etho-section .container .heading::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  background: #f7b401;
  height: 2px;
  width: 20%;
  transform: translateX(-50%);
}
.etho-section .container .box-wraps {
  display: grid;
  gap: 20px;
}
.etho-section .container .box-wraps .box {
  text-align: center;
  background: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
  padding: 2em 2em;
}
.etho-section .container .box-wraps .box img {
  width: 40px;
  display: inline-block;
  margin-bottom: 0.5em;
}
.etho-section .container .box-wraps .box .box-heading {
  color: #4f4f4f;
  margin-bottom: 0.5em;
  font-size: 1rem;
  font-weight: 600;
}
.etho-section .container .box-wraps .box .box-text {
  line-height: 1.7;
  color: #a6a6a6;
  font-size: 0.9rem;
}
@media screen and (min-width: 43em) {
  .etho-section .container .heading::before {
    width: 10%;
  }
  .etho-section .container .box-wraps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 62em) {
  .etho-section .container .heading::before {
    width: 7%;
  }
  .etho-section .container .box-wraps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.programs {
  margin-bottom: 7em;
}
.programs .container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 2em;
  margin-bottom: 4em;
}
.programs .container .text-area .heading {
  color: #004517;
  font-size: 1.7rem;
  margin-bottom: 0.5em;
}
.programs .container .text-area .heading span {
  color: #f7b401;
}
.programs .container .text-area .text {
  font-size: 0.9rem;
  line-height: 1.7;
  color: #a6a6a6;
}
.programs .container .image-box {
  background: #f7b401;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4/3;
  border-radius: 15px;
}
.programs .container .image-box img {
  width: 200px;
  border-radius: 15px;
}
@media screen and (min-width: 43em) {
  .programs .container {
    width: 60%;
    text-align: center;
  }
}
@media screen and (min-width: 62em) {
  .programs .container {
    width: 80%;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    gap: 8em;
  }
}
.programs .media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 350px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  -ms-scroll-snap-type: inline mandatory;
  scroll-snap-type: inline mandatory;
  padding: 2em 1em;
  gap: 1.4em;
}
.programs .media-scroller .scrollable-box {
  height: 300px;
  background: #f7b401;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.programs .media-scroller .scrollable-box h3 {
  width: 80%;
  text-align: center;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.beneficiaries-section {
  margin-bottom: 7em;
}
.beneficiaries-section .text-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em;
}
.beneficiaries-section .text-container .heading {
  font-size: 1.7rem;
  color: #004517;
}
@media screen and (min-width: 43em) {
  .beneficiaries-section .text-container {
    text-align: center;
  }
}
.beneficiaries-section .container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 350px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  -ms-scroll-snap-type: inline mandatory;
  scroll-snap-type: inline mandatory;
  padding: 2em 1em;
  gap: 1em;
}
.beneficiaries-section .container .wrap {
  background: rgba(0, 69, 23, 0.527);
  width: 100%;
  text-align: center;
  padding: 2em 0;
  border-radius: 15px;
}
.beneficiaries-section .container .wrap div {
  margin-bottom: 1em;
}
.beneficiaries-section .container .wrap div img {
  width: 80%;
  margin: 0 auto;
  display: inline-block;
}
.beneficiaries-section .container .wrap .text-wrap {
  width: 80%;
  margin: 0 auto;
}
.beneficiaries-section .container .wrap .text-wrap .text {
  font-size: 0.9rem;
  line-height: 1.9;
  text-align: left;
  margin-bottom: 2em;
  color: #fff;
}
.beneficiaries-section .container .wrap .text-wrap .ben-name {
  border: 1.5px solid #f7b401;
  padding: 0.5em 1em;
  border-radius: 40px;
  color: #fff;
}
.beneficiaries-section .container .wrap .text-wrap .ben-name span {
  font-size: 0.7rem;
}
@media screen and (min-width: 62em) {
  .beneficiaries-section .container {
    display: flex;
    width: 80%;
    margin: 0 auto;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.about-main-section {
  height: 80vh;
  position: relative;
  padding-top: 8em;
  margin-bottom: 5em;
}
.about-main-section .container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  align-items: center;
}
.about-main-section .container .text {
  color: #f7b401;
  font-weight: 500;
}
.about-main-section .container .heading-text {
  color: #004517;
  text-transform: capitalize;
  gap: 10px;
  font-size: 1.7rem;
  margin-bottom: 1em;
}
.about-main-section .container .heading-text .flex {
  display: flex;
  gap: 6px;
}
.about-main-section .container .heading-text .flex span {
  color: #f7b401;
}
.about-main-section .container .heading-text .flex img {
  width: 50px;
}
.about-main-section .container .smooth-scroll-btn {
  font-size: 1rem;
  background: #f7b401;
  padding: 1em 3em;
  display: inline-block;
  border-radius: 15px;
  font-weight: 500;
  color: #fff;
  width: fit-content;
}
@media screen and (min-width: 43em) {
  .about-main-section .container {
    width: 60%;
  }
}
@media screen and (min-width: 62em) {
  .about-main-section .container {
    width: 40%;
  }
  .about-main-section .container .heading-text {
    font-size: 2rem;
  }
}
.about-main-section .gradient-wrap {
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(0, 69, 23, 0.77) 85.65%);
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.who-we-are-section {
  margin-bottom: 5em;
}
.who-we-are-section .container {
  background: url("/assets/grid.svg") center/cover, no-repeat;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 2em;
}
.who-we-are-section .container .heading {
  border: 1.5px solid #004517;
  display: inline-block;
  padding: 1em;
  border-radius: 40px;
  color: #004517;
  margin-bottom: 2em;
}
.who-we-are-section .container .text {
  font-size: 0.9rem;
  line-height: 1.8;
  color: #a6a6a6;
}
@media screen and (min-width: 43em) {
  .who-we-are-section .container {
    width: 60%;
    height: 400px;
  }
}
@media screen and (min-width: 62em) {
  .who-we-are-section .container {
    width: 50%;
    height: 400px;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.company-info {
  margin-bottom: 5em;
}
.company-info .container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  position: relative;
}
.company-info .container .box {
  text-align: center;
  background: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
  padding: 2em 2em;
}
.company-info .container .box img {
  width: 50px;
  display: inline-block;
  margin-bottom: 0.5em;
}
.company-info .container .box .heading {
  margin-bottom: 0.7em;
  color: #4f4f4f;
}
.company-info .container .box .text {
  color: #a6a6a6;
  font-size: 0.9rem;
  line-height: 1.9;
}
.company-info .container .imgbox1 {
  background: url("/assets/img.jpeg") center/cover, no-repeat;
  filter: grayscale(100%);
  border-radius: 15px;
}
.company-info .container .imgbox2 {
  display: none;
}
@media screen and (min-width: 43em) {
  .company-info .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 62em) {
  .company-info .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .company-info .container .box-1 {
    height: 250px;
  }
  .company-info .container .box-2 {
    height: 350px;
  }
  .company-info .container .box-3 {
    height: 567px;
  }
  .company-info .container .imgbox1 {
    height: 300px;
    width: 32%;
    position: absolute;
    top: 270px;
  }
  .company-info .container .imgbox2 {
    background: url("/assets/img2.jpeg") center/cover, no-repeat;
    position: absolute;
    display: block;
    height: 200px;
    width: 32%;
    filter: grayscale(100%);
    border-radius: 15px;
    left: 34%;
    top: 370px;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.our-team-section {
  margin-bottom: 6em;
}
.our-team-section .text-wrap {
  margin-bottom: 2em;
}
.our-team-section .text-wrap .heading {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  color: #004517;
}
.our-team-section .container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 2em;
}
.our-team-section .container .team-member-wrap {
  background: #fff;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
  text-align: center;
  padding: 2em 0;
  border-radius: 15px;
}
.our-team-section .container .team-member-wrap img {
  width: 60%;
  margin-bottom: 2em;
  border-radius: 15px;
  aspect-ratio: 5/5;
}
.our-team-section .container .team-member-wrap .member-details {
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
.our-team-section .container .team-member-wrap .member-details .name {
  margin-bottom: 0.2em;
  font-size: 0.9rem;
  color: #4f4f4f;
}
.our-team-section .container .team-member-wrap .member-details .designation {
  color: #f7b401;
  margin-bottom: 0.6em;
  font-size: 0.9rem;
}
.our-team-section .container .team-member-wrap .member-details .profile {
  color: #a6a6a6;
  font-size: 0.9rem;
  margin-bottom: 0.5em;
  line-height: 1.9;
}
.our-team-section .container .team-member-wrap .member-details .profile .readmore-btn {
  background: transparent;
  border: none;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.our-team-section .container .team-member-wrap .member-details .profile .readmore-active {
  display: block;
}
.our-team-section .container .team-member-wrap .member-details .profile .readmore-profile {
  margin-bottom: 2em;
  display: inline-block !important;
}
.our-team-section .container .team-member-wrap .member-details .profile .collapse {
  display: none;
}
@media screen and (min-width: 43em) {
  .our-team-section .container {
    width: 70%;
  }
}
@media screen and (min-width: 62em) {
  .our-team-section .container {
    display: flex !important;
    width: 90%;
  }
}

.height {
  height: fit-content;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.footer .container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2em;
}
.footer .container .brand {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0.9em;
}
.footer .container .brand img {
  width: 90px;
}
.footer .container .brand h4 {
  color: #004517;
}
.footer .container .contact-info .social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 2em;
}
.footer .container .contact-info .social-media a {
  color: #f7b401;
  border: 2px solid #004517;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.footer .container .contact-info .phone-wrap {
  display: grid;
  gap: 15px;
  justify-content: center;
}
.footer .container .contact-info .phone-wrap a {
  display: block;
  color: #a6a6a6;
  text-align: center;
}
@media screen and (min-width: 43em) {
  .footer .container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer .container .contact-info .social-media {
    justify-content: flex-end;
  }
  .footer .container .contact-info .phone-wrap {
    justify-content: flex-end;
  }
  .footer .container .contact-info .phone-wrap a {
    text-align: right;
  }
}
.footer .copyright {
  text-align: center;
  font-size: 0.9rem;
  padding: 0.6em;
  color: #a6a6a6;
}

/*# sourceMappingURL=main.css.map */
