---
title: About us
layout: 'base.njk'
---

<div class="about-main-section">
	<div class="container">
		<p class="text">Learn more</p>

		<h3 class="heading-text">
			About firstpoint allianz <br />
			<span class="flex">
				<span>foundation</span>
				<img src="/assets/Logo.png" alt="" />
			</span>
		</h3>

		<a class="smooth-scroll-btn" href="#">Scroll down</a>
	</div>

	<div class="gradient-wrap"></div>
</div>

<div class="who-we-are-section">
	<div class="container">
		<h3 class="heading">Who we are</h3>

		<p class="text">
			We recognize that the underprivileged women and girls are
			disproportionately affected by poverty and discrimination and suffer abuse
			mentally and violations in the realization of their rights, entitlements
			and access to central resources. Our experience has shown us that when
			equipped with the proper resources, women and young girls have the power
			to transform their own lives and help their entire family, hence
			readdressing the cause of poverty and social injustice in the community.
		</p>
	</div>
</div>

<section class="company-info">
	<div class="container">
		<div class="box box-1">
			<img src="/assets/resouce 24.png" alt="" />

			<h4 class="heading">our vision</h4>

			<p class="text">
				A voice to every underprivileged, especially women and children.
			</p>
		</div>

		<div class="box box-2">
			<img src="/assets/resouce 26.png" alt="" />

			<h4 class="heading">our mission</h4>

			<p class="text">
				Our mission is embedded in our mandate which is to empower
				underprivileged women and young girls through relevant education, skills
				development, innovative health care and focused livelihood programs.
			</p>
		</div>

		<div class="box box-3">
			<img src="/assets/resouce 25.png" alt="" />

			<h4 class="heading our-why">Why we do what we do</h4>

			<p class="text">
				Firstpoint Allianz Foundation, is the leading heart and mind charity for
				the underprivileged especially women and children. We are committed to
				giving every underprivileged woman and young girl a voice. We work in
				the deemed as indigent, unsuitable, and poor, helping women and young
				girls tackle the barriers they face and supporting them to create
				empowring livesfor themselves, their families and the community. We are
				registered and incorporated under the Nigeria Corporate Affairs
				Commission Abuja - Nigeria and Canada Not-for-Proﬁt Corporation Act;
				CN-1455515-5 and also with State Ministry Women Affiars and Poverty
				Alleviation.
			</p>
		</div>

		<div class="imgbox imgbox1"></div>

		<div class="imgbox imgbox2"></div>
	</div>
</section>

<!-- our team section -->
<section class="our-team-section">
	<div class="text-wrap">
		<h3 class="heading">Our team</h3>
	</div>

	<div class="container">
		<!-- member 1 -->
		<div class="team-member-wrap">
			<img src="/assets/team-member1.jpeg" alt="" />

			<div class="member-details">
				<h4 class="name">Olasunkanmi Muftau Adedoyin Nigeria</h4>

				<div class="designation">Co-founder</div>

				<p>
					Olasunkanmi Muftau Adedoyin was born on March 2nd, 1971 in a sprawling
					town called Offa in Kwara State, Nigeria
				</p>

				<button class="readmore-btn">Read more >>></button>

				<div class="readmore">
					<p>
						He attended St. Cyprian Primary school and Offa Grammar School
						respectively. Proceeded to pursue University education in the
						northern part of the country and graduated with Bachelor of Science
						in Management Studies at Usman Dan Fodio University, Sokoto and
						thereafter did his National Youth Service in Cross Rivers State.
					</p>

					<p>
						Olasunkami is an experienced and iconic entrepreneur whom have
						worked with many Freight Forwarding Company's before he eventually
						established his own company named Access Freight Int'l Ltd in which
						he has been the Managing Director over the years.
					</p>

					<p>
						Olasunkanmi believed so much in his country, Nigeria, with a keen
						passion for the underprivileged, this was the foundation of his
						philanthropical philosophy, that it is important for humanity to
						give back to the society.
					</p>

					<button class="collapse">Collapse</button>
				</div>
			</div>
		</div>

		<!-- member 2 -->
		<div class="team-member-wrap">
			<img src="/assets/team-member2.jpeg" alt="" />

			<div class="member-details">
				<h4 class="name">Adedunni Sakirat Adedoyin</h4>

				<div class="designation">Co-founder</div>

				<p>
					She is a Nigerian and a social entrepreneur. She co- founded
					Firstpoint Allianz Foundation
				</p>

				<button class="readmore-btn">Read more >>></button>

				<div class="readmore">
					<p>
						as a non- governmental organization (NGO) that focuses on improving
						the lives of indigent women, widows, children’s education support,
						orphans, and vulnerable children.
					</p>

					<p>
						Her passion for Humanitarian and community service has made her
						stand her out among others. “Finding myself among the needy made me
						realize they are just disadvantaged as some are very intelligent and
						smart and what they need is help and support”. A single person can’t
						carry the burden, so the idea came to try and pull together,
						comfortable and compassionate individuals to support, impact and
						touch lives, to make living better.
					</p>

					<p>
						She has years of working experience with some private establishment
						before proceeding to co founding a Non-Governmental Organisation
						(Firstpoint Allianz Foundation)
					</p>

					<button class="collapse">Collapse</button>
				</div>
			</div>
		</div>

		<!-- team member 3 -->
		<div class="team-member-wrap">
			<img src="/assets/team-member3.jpeg" alt="" />

			<div class="member-details">
				<h4 class="name">Prof . Kazeem Rasheed Akhilomen</h4>

				<div class="designation">Trustee</div>

				<p>
					Prof . Kazeem Rasheed Akhilomen is a Professor of Church History in
					the Department of Religious
				</p>

				<button class="readmore-btn">Read more >>></button>

				<div class="readmore">
					<p>
						Management and Cultural Studies, Faculty of Arts in Ambrose Alli
						University, Ekpoma.
					</p>
					<p>
						He graduated from the then Bendel State University, Ekpoma in the
						Department of Religious Studies and Philosophy in 1988. As a
						promising academic, he was employed by the University as a Graduate
						Assistant in 1989 after his completion of the mandatory NYSC.
					</p>

					<p>
						He thereafter enrolled for Post Graduate Studies and obtained M.A.
						Degree and Ph.D in Church History in 1993 and 1999 respectively.
					</p>

					<p>
						Prof. Kazeem as he is fondly called by many has held so many
						academic and administrative positions within and outside the
						University; the most recent being the Dean, Students’ Affair
						Division, Ambrose Alli University (2016 - 2019).
					</p>

					<button class="collapse">Collapse</button>
				</div>
			</div>
		</div>
	</div>
</section>
