---
title: About us
layout: 'base.njk'
---

<div class="about-main-section">
	<div class="container">
		<p class="text">Learn more</p>

		<h3 class="heading-text">
			About firstpoint allianz <br />
			<span class="flex">
				<span>foundation</span>
				<img src="/assets/Logo.png" alt="" />
			</span>
		</h3>

		<a class="smooth-scroll-btn" href="#">Scroll down</a>
	</div>

	<div class="gradient-wrap"></div>
</div>

<div class="who-we-are-section">
	<div class="container">
		<h3 class="heading">Who we are</h3>

		<p class="text">
			We recognize that the underprivileged women and girls are
			disproportionately affected by poverty and discrimination and suffer abuse
			mentally and violations in the realization of their rights, entitlements
			and access to central resources. Our experience has shown us that when
			equipped with the proper resources, women and young girls have the power
			to transform their own lives and help their entire family, hence
			readdressing the cause of poverty and social injustice in the community.
		</p>
	</div>
</div>

<section class="company-info">
	<div class="container">
		<div class="box box-1">
			<img src="/assets/resouce 24.png" alt="" />

			<h4 class="heading">our vision</h4>

			<p class="text">
				A voice to every underprivileged, especially women and children.
			</p>
		</div>

		<div class="box box-2">
			<img src="/assets/resouce 26.png" alt="" />

			<h4 class="heading">our mission</h4>

			<p class="text">
				Our mission is embedded in our mandate which is to empower
				underprivileged women and young girls through relevant education, skills
				development, innovative health care and focused livelihood programs.
			</p>
		</div>

		<div class="box box-3">
			<img src="/assets/resouce 25.png" alt="" />

			<h4 class="heading our-why">Why we do what we do</h4>

			<p class="text">
				We recognize that the underprivileged women and girls are
				disproportionately affected by poverty and discrimination and suffer
				abuse mentally and violations in the realization of their rights,
				entitlements and access to central resources. Our experience has shown
				us that when equipped with the proper resources, women and young girls
				have the power to transform their own lives and help their entire
				family, hence readdressing the cause of poverty and social injustice in
				the community.
			</p>
		</div>

		<div class="imgbox imgbox1"></div>

		<div class="imgbox imgbox2"></div>
	</div>
</section>
