---
title: Firstpoint Allianz Foundation
layout: 'base.njk'
---

<main class="main">
	<div class="container">
		<div class="masthead-wrap">
			<p class="pre-text">We are Firstpoint Allianz Foundation</p>
			<h1 class="masthead">
				We are on the journey to empower women and young girls in our societies
			</h1>

			<a href="#" class="button">Get involved</a>
		</div>

		<div class="image-wrap">
			<img src="/assets/masthead-image.png" alt="" />
		</div>
	</div>

	<div class="gradient-wrap"></div>
</main>

<!-- about snippet -->
<section class="about-snippet">
	<div class="container">
		<h3 class="snippet-heading">About us</h3>

		<p class="snippet-text">
			Firstpoint Allianz Foundation, is the leading heart and mind charity for
			the und eged erprivil especially women and children. We are c ed to giving
			every underprivileged ommitt woman and y oice.
		</p>

		<a href="/about" class="button">Learn more >>>></a>
	</div>
</section>

<!-- our ethos -->
<section class="etho-section">
	<div class="container">
		<h3 class="heading">Our ethos</h3>

		<div class="box-wraps">
			<div class="box">
				<img src="assets/resouce 24.png" alt="" />

				<h3 class="box-heading">We are Heart-led</h3>

				<div class="box-text">
					With our hearts, we reach and search out for the the underprivileged,
					especially women and young girls who need the most help. We have found
					these to be widows, abused women suffering from domestic violence,
					single mothers and young girls that have found themselves on the
					streets. In the last 2 years, we have reached over 500 women.
				</div>
			</div>

			<div class="box">
				<img src="assets/resouce 26.png" alt="" />

				<h3 class="box-heading">We are Mind-led</h3>

				<div class="box-text">
					We believe that educating the mindset and advocating for the correct
					mind set is key to empowering the underprivileged, especially women
					and young children.
				</div>
			</div>

			<div class="box">
				<img src="assets/resouce 25.png" alt="" />

				<h3 class="box-heading">We are Hand-led</h3>

				<div class="box-text">
					With our hearts, we reach and search out for the the underprivileged,
					especially women and young girls who need the most help. We have found
					these to be widows, abused women suffering from domestic violence,
					single mothers and young girls that have found themselves on the
					streets. In the last 2 years, we have reached over 500 women.
				</div>
			</div>
		</div>
	</div>
</section>

<!-- programs and projects -->
<section class="programs">
	<div class="container">
		<div class="text-area">
			<h3 class="heading">Programs & <span>projects</span></h3>

			<p class="text">
				Equipping underprivileged women and girls. We believe it has a ripple
				effect. For us, we just do not want to feed people with ﬁsh, we want to
				train and skill them up to catch ﬁshes themselves. We uplift and
				up-skill to create a ripple effect.
			</p>
		</div>

		<div class="program image-box">
			<img src="assets/Logo.png" alt="" />
		</div>
	</div>

	<div class="media-scroller">
		<div class="scrollable-box">
			<h3>Women on purpose</h3>
		</div>

		<div class="scrollable-box">
			<h3>International women's day celebration</h3>
		</div>

		<div class="scrollable-box">
			<h3>International widow's day</h3>
		</div>

		<div class="scrollable-box">
			<h3>
				Face of giving
				<p>(December)</p>
			</h3>
		</div>

		<div class="scrollable-box">
			<h3>Health outreach program</h3>
		</div>

		<div class="scrollable-box">
			<h3>Youth engagement and inclusion program</h3>
		</div>

		<div class="scrollable-box">
			<h3>Skill acquisition workshop internships</h3>
		</div>
	</div>
</section>

<!-- beneficiaries section -->
<div class="beneficiaries-section">
	<div class="text-container">
		<h3 class="heading">Our beneficiaries</h3>
	</div>

	<div class="container">
		<div class="wrap">
			<div>
				<img src="/assets/benefit1.jpeg" alt="" />
			</div>

			<div class="text-wrap">
				<p class="text">
					Firstpoint Allianz Foundation has assisted her numerously in the
					payment of her children’s tuition, periodic feeding alowance and house
					rents. She is one of the beneﬁciaries of the foundation.
				</p>

				<p class="ben-name">
					Mrs. Olamide <br />
					<span>(Lagos-based widow)</span>
				</p>
			</div>
		</div>

		<div class="wrap">
			<div>
				<img src="/assets/benefit2.jpeg" alt="" />
			</div>

			<div class="text-wrap">
				<p class="text">
					Firstpoint Allianz Foundation provided her with an industrial sewing
					machine.
				</p>

				<p class="ben-name">
					Miss Onyinye
					<br />
					<span>(Recipient of an Industrial Sewing Machine )</span>
				</p>
			</div>
		</div>

		<div class="wrap">
			<div>
				<img src="/assets/benefit3.jpeg" alt="" />
			</div>

			<div class="text-wrap">
				<p class="text">
					Firstpoint Allianz Foundation rehabilitated and stocked her shop with
					goods. She was one of our beneﬁciaries this year.
				</p>

				<p class="ben-name">
					Mrs. Chidinma Edwin
					<br />
					<span>(Lagos-based widow)</span>
				</p>
			</div>
		</div>
	</div>
</div>

<!-- our partners section -->
