@import 'global';

.our-team-section {
	margin-bottom: 6em;
	.text-wrap {
		margin-bottom: 2em;
		.heading {
			text-align: center;
			font-size: $heading-font-size;
			font-weight: $font-semi;
			color: $dominant-color;
		}
	}

	.container {
		width: 90%;
		margin: 0 auto;
		display: grid;
		gap: 2em;

		.team-member-wrap {
			background: $light;
			box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.18);
			text-align: center;
			padding: 2em 0;
			border-radius: 15px;

			img {
				width: 60%;
				margin-bottom: 2em;
				border-radius: 15px;
				aspect-ratio: 5/5;
			}

			.member-details {
				width: 90%;
				margin: 0 auto;
				text-align: left;

				.name {
					margin-bottom: 0.2em;
					font-size: 0.9rem;
					color: $body-heading-text-color;
				}

				.designation {
					color: $accent-color;
					margin-bottom: 0.6em;
					font-size: 0.9rem;
				}

				.profile {
					color: $body-paragraph-text-color;
					font-size: 0.9rem;
					margin-bottom: 0.5em;
					line-height: 1.9;

					.readmore-btn {
						background: transparent;
						border: none;
						font-family: $font-family;
						cursor: pointer;
						// display: none;
					}

					// .expanded-read1,
					// .expanded-read2,
					// .expanded-read3 {
					// 	// display: none;

					// }

					.readmore-active {
						display: block;
					}

					.readmore-profile {
						margin-bottom: 2em;
						display: inline-block !important;
					}

					.collapse {
						display: none;
					}
				}
			}
		}

		@media screen and (min-width: 43em) {
			width: 70%;
		}

		@media screen and (min-width: 62em) {
			display: flex;
			// grid-template-columns: repeat(3, 1fr);
			width: 90%;

			.team-member-wrap {
				flex-basis: auto;
			}
		}
	}
}

.height {
	max-height: 400 !important;
}
